{% extends "base.html" %}
{% block content %}
    <h3 class="light-blue-text text-darken-4 center-align">Add Book</h3>

    <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-book prefix light-blue-text text-darken-4"></i>
                    <input id="book_title_prefix" type="text" class="validate">
                    <label for="book_title_prefix">Book Title</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-feather-alt prefix light-blue-text text-darken-4"></i>
                    <input id="author_prefix" type="text" class="validate">
                    <label for="author_prefix">Author</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-code-branch prefix light-blue-text text-darken-4"></i>
                    <input id="genre_prefix" type="text" class="validate">
                    <label for="genre_prefix">Genre</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-link prefix light-blue-text text-darken-4"></i>
                    <input id="book_cover_prefix" type="text" class="validate">
                    <label for="book_cover_prefix">Book Cover Link</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-scroll prefix light-blue-text text-darken-4"></i>
                    <input id="book_description_prefix" type="text" class="validate">
                    <label for="book_description_prefix">Book Description</label>
                </div>
            </div>
        </form>
    </div>
{% endblock %}