{% extends "base.html" %}
{% block content %}
    <div class="container book-profile">
        <div class="row">
            <div class="col s6">
                <div class="card">
                    <img src="{{ find_book_id.book_cover_link }}">
                </div>
            </div>
            <div class="col s6">
                {{ find_book_id.category_name }}<br>
                {{ find_book_id.book_name }}<br>
                {{ find_book_id.author_name }}<br>
                {{ find_book_id.book_description }}<br>
            </div>
        </div>
    </div>   
{% endblock %}
