{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for book in books[:-8:-1] %}
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <a href="{{ url_for('get_book_profile', book_id=book._id) }}"> <img src="{{ book.book_cover_link }}"> </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}