{% extends "base.html" %}
{% block content %}
    <div class="container book-profile">
        <div class="row">
            <div class="col s6">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ find_book_id.book_cover_link }}">
                    </div>
                </div>
            </div>
            <div class="col s6">
                <h3>{{ find_book_id.book_name }}</h2>
                <h4>{{ find_book_id.author_name }}</h4>
                <p>{{ find_book_id.category_name }}</p>
                <p>{{ find_book_id.book_description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s6">

            </div>
            <div class="col s6">
                <div class="starwidget">
                    <span class="starRating">
                        <input id="rating5" type="radio" name="rating" value="5">
                        <label for="rating5">5</label>
                        <input id="rating4" type="radio" name="rating" value="4">
                        <label for="rating4">4</label>
                        <input id="rating3" type="radio" name="rating" value="3">
                        <label for="rating3">3</label>
                        <input id="rating2" type="radio" name="rating" value="2">
                        <label for="rating2">2</label>
                        <input id="rating1" type="radio" name="rating" value="1">
                        <label for="rating1">1</label>
                    </span>
                    <form action="#">
                        <div class="input-field">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Textarea</label>
                        </div>
                        <button class="btn light-blue darken-1" type="submit">Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>   
{% endblock %}
