{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-blue-text text-darken 4">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h4 class="center-align light-blue-text text-darken 4">
                    Added Books
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h4 class="center-align light-blue-text text-darken 4">
                    Added Reviews
                </h4>
                <div>
                {% for book in books %}
                    {% if book.comments %}
                        {% for key in book.comments %}
                            {% if session.user|lower == key.username|lower  %}
                            <div class="col s12 m4 l8">
                                <p>{{ book.book_name}}/ By {{ book.author_name}}</p>
                                <p>Rated: {{ key.given_rate}}</p>
                                <p>Comment: {{ key.added_comment}}</p>
                            </div>
                            <div class="col s12 m4 l4">
                                <a href="" class="btn-small red darken-3">Delete</a>
                                <a href="#modal2, book_id = book._id " class="btn-small modal-trigger light-blue lighten-1">Edit</a>
                            </div>
                            {% endif %}
                        {%  endfor %}
                    {% endif %}
                {% endfor%}
                </div>
            </div>
        </div>
    </div>
    <div id="modal2" class="modal modal-comment">
        <div class="modal-content">
            <form method="POST" action="{{ url_for('add_comment', book_id=book_id) }}">
                <header>Rate This Book:</header>
                <div class="row starwidget">
                    <input type="radio" name="rate" id="rate-5" value="5" class="browser-default">
                    <label for="rate-5" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-4" value="4" class="browser-default">
                    <label for="rate-4" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-3" value="3" class="browser-default">
                    <label for="rate-3" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-2" value="2" class="browser-default">
                    <label for="rate-2" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-1" value="1" class="browser-default">
                    <label for="rate-1" class="fas fa-star"></label>
                </div>
                <div class="row input-field">
                    <textarea name="comment_area" id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Add Comment Here</label>
                </div>
                <button class="btn-flat teal lighten-2 modal-close" type="submit">Edit</button>
            </form>
        </div>
    </div>

{% endblock %}